  /***** Fonts *****/

@font-face {
  font-family: 'Londrina Solid';
  src: url('../fonts/Londrina_Solid/LondrinaSolid-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} @font-face {
  font-family: 'Londrina Solid';
  src: url('../fonts/Londrina_Solid/LondrinaSolid-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
} @font-face {
  font-family: 'Londrina Solid';
  src: url('../fonts/Londrina_Solid/LondrinaSolid-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
} @font-face {
  font-family: 'Londrina Solid';
  src: url('../fonts/Londrina_Solid/LondrinaSolid-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Macondo Swash Caps';
  src: url('../fonts/Macondo_Swash_Caps/MacondoSwashCaps-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Megrim';
  src: url('../fonts/Megrim/Megrim-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  /***** Header height & sections padding-top *****/
:root {
  --font-tagline: "Londrina Solid", sans-serif;
  --font-title: "Megrim", system-ui;
  --font-text: "Macondo Swash Caps", cursive;
  --header-height: 130px;
  --header-section-gap: 60px;
  --section-separator-w : 40%; /* Largeur du séparateur de section et de la section gauche */
}

  /***** Reset CSS *****/

* {
  font-family: var(--font-text);
  font-size: 1.2rem;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #e0c097;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background-color: transparent;
  border-style: none;
  display: inline-block;
  vertical-align: sub;
  cursor: pointer;
}

  /***** Colors (text, bg, border) *****/

.text-coral {
  color: #D1654F;
}
.text-copper {
  color: #B85C38;
}
.text-beige {
  color: #E0C097;
}
.text-black {
  color: #000000;
}
.bg-coral {
  background-color: #D1654F;
}
.bg-copper {
  background-color: #B85C38;
}
.bg-beige {
  background-color: #E0C097;
}
.bg-black {
  background-color: #000000;  
}
.bc-coral {
  border-color: #D1654F;
}
.bc-copper {
  border-color: #B85C38;
}
.bc-beige {
  border-color: #E0C097;
}
.bc-black {
  border-color: #000000;  
}

/***** Font-sizes *****/

.font-size00 {
  font-size: .55rem;
}
.font-size0 {
  font-size: .7rem;
}
.font-size1 {
  font-size: .86rem;
}
.font-size2 {
  font-size: .95rem;
}
.font-size3 {
  font-size: 1.2rem;
}
.font-size4 {
  font-size: 1.4rem;
}
.font-size5 {
  font-size: 1.6rem;
}
.font-size6 {
  font-size: 1.8rem;
}

/***** Line-height *****/

.space-line {
  line-height: 1.6;
}

/***** Body *****/

body {
  background-color: rgb(0, 0, 0);
  /* border: 2px solid yellow; */
}

/***** Scrollbar customisation (except on firefox) *****/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(13, 13, 13);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, rgb(224, 192, 151) 0%, rgb(13, 13, 13) 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

::-webkit-scrollbar-button {
  height: 30px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url('../public/double-fleche-haut.png');

}
::-webkit-scrollbar-button:vertical:end {
  background-image: url('../public/double-fleche-bas.png');
}