.header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: black;
    border-bottom: 1px solid rgb(15, 15, 15);
    /* background-image: linear-gradient(to bottom, black, black 60%,rgb(10, 10, 10) 100%); */
    padding: 0 40px;
    /* background-image: url('../public/header-background.svg'); */
    /* background-size: auto 100%; */
    /* background-repeat: no-repeat; */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid rgb(46, 255, 60); */
}

.black-bg {
  background-color: black;
}

.logoContainer {
  height: 60%;
  margin-left: 5%;
  /* border: 2px solid white; */
}

.controlPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(30px, 40%, 100vw);
  /* border: 2px solid orange; */
}