.homeContainer {
    height: 100vh;
    position:relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("../public/tomahna2.png");
    background-size:cover;
    background-position: center center;
    /* border: 2px solid red; */
}

.homeContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    mask-size: 200% 200%;
    mask-position: 95% 75%;
    mask-repeat: no-repeat;
    mask-image: radial-gradient(
      circle at center,
      /* #ffffff 0%,
      transparent .5%, */
      transparent 0%,
      rgba(0, 0, 0, .4) 10%,
      rgba(0, 0, 0, .6) 14%,
      rgba(0, 0, 0, .8) 24%,
      rgba(0, 0, 0, .9) 54%,
      rgba(0, 0, 0, 1) 80%
    );
    z-index: 1;
    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    50% {
        mask-size: 250% 250%;
        mask-position: 79% 70%;
    }
    100% {
        mask-size: 200% 200%;
        mask-position: 95% 75%;
    }
}

.homeContainer * {
    position: relative;
    z-index: 2;
}

.homeContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* border:2px solid rgb(255, 80, 214); */
}
@media screen and (max-width: 1000px) {
    .homeContent {
        width: 80%;
    }
}

.homeContent * {
    text-align: center;
    font-family: var(--font-tagline);
}

.lanterne {
    width: 10%;
    min-width: 150px;
    height: auto;
    position: absolute;
    left: -10px;
    top: -10px;
    transform: rotateZ(-5deg);
    transform-origin: top center;
    animation: swing 6s ease-in-out infinite;
    pointer-events: none;
    /* border: 2px solid white; */
}
@media screen and (max-width: 500px){
    .lanterne{
        min-width: auto;
        width: 100px;
    }
}

@keyframes swing {
    0% {
        transform: rotateZ(-5deg);
    }
    50% {
        transform: rotateZ(5deg);
    }
    100% {
        transform: rotateZ(-5deg);
    }
}
  
.light {
    position:absolute;
    left: 5%;
    top: 25%;
    border-radius: 50%;
    box-shadow: 
    0 0 200px 120px rgba(224, 192, 151, .5),
    0 0 100px 60px rgba(224, 192, 151, 0.6),
    0 0 20px 10px rgba(224, 192, 151, .7),
    0 0 10px 5px rgba(224, 192, 151, .9);
    animation: flicker 1s infinite alternate;
    /* border:2px solid red; */
}

@keyframes flicker {
    0% { opacity: 0.8; }
    50% { opacity: 1; }
    100% { opacity: 0.9; }
}