.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start; */
  min-height: 100vh;
  /* border: 2px solid red; */
  /* background: linear-gradient(to top right, #000000, #111111 60%, #292929); */
  background-color: black;
}

.backgroundReveal {
  position:absolute;
  height: 100vh;
  width: 100%;
  background-image:url("../public/background.png");
  background-size:cover;
  background-position: center center;
  mask-size: 200% 200%;
  mask-position: 20% 52%;
  mask-repeat: no-repeat;
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, .8) 0%,
    rgba(0, 0, 0, .8) 10%,
    rgba(0, 0, 0, 0.4) 14%,
    transparent 18%
  );
  animation: pulse 3s infinite alternate;
  border:2px solid #ed5836;
}

@keyframes pulse {
  100% {
    mask-size: 250% 250%;
    mask-position: 29% 52%;
  }
  /* 0% {
    mask-image: radial-gradient(
      circle at center,
      rgba(0, 0, 0, .8) 0%,
      rgba(0, 0, 0, .8) 10%,
      rgba(0, 0, 0, 0.4) 14%,
      transparent 18%
    );
  }
  50% {
    mask-image: radial-gradient(
      circle at center,
      rgba(0, 0, 0, .8) 0%,
      rgba(0, 0, 0, .8) 15%,
      rgba(0, 0, 0, 0.4) 18%, 
      transparent 20%
    );
  }
  100% {
    mask-image: radial-gradient(
      circle at center,
      rgba(0, 0, 0, .8) 0%,
      rgba(0, 0, 0, .8) 20%,
      rgba(0, 0, 0, 0.4) 24%,
      transparent 28%
    );
  } */
}

.light {
  position:absolute;
  left: calc(80%);
  top: calc(48%);
  border-radius: 50%;
  box-shadow: 
  0 0 200px 120px rgba(255, 255, 255, 1),
  0 0 100px 60px rgba(255, 255, 255, 0.6),
  0 0 20px 10px rgba(255, 255, 255, .7),
  0 0 30px 15px rgba(255, 255, 255, .9);
  animation: flicker 1s infinite alternate;
}

@keyframes flicker {
  0% { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.9; }
}

.move {
  display: inline-block;
  transition: height 0.5s, transform 0.5s;
  animation: moveAndEnlarge 2s .5s forwards;
}

@keyframes moveAndEnlarge {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-20px) scale(1.4);
  }
}

/* @keyframes Sstarpulse {
  0% {box-shadow: 0px 0px 0px 0px white;}
  100% {box-shadow:0px 0px 8px 3px white;}
} */

