.main {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow: hidden;
  background-color: black;
  /* border: 2px solid red; */
}

.section {
  height: 120vh;
  /* border: 2px solid red; */
}