.menu {
    min-width: 30px;
    position: relative;
    /* border:2px solid red; */
}

.menuIcon {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    /* border: 2px solid cyan; */
}

.iconPart {
    border: 2px solid #E0C097;
    border-radius: 1em;
    position: relative;
}

.topIcon, .botIcon {
    width: 50%;
    height: .3rem;
}

.midIcon {
    width: 100%;
    height: .3rem;
}

.botIcon {
    align-self: flex-end;
}

.nav {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 20px;
    border-right:1px solid #E0C097;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    /* border:2px solid rgb(199, 20, 68); */
}

.visible {
    opacity: 1;
    visibility: visible;
}

.nav li {
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    /* border:2px solid rgb(20, 199, 74); */
}

.navLink {
    background-color: inherit;
    padding: .8em .8em .8em 1.2em;
    border: none;
    border-radius: 50px 0px 0 50px;
    white-space: nowrap;
    /* border:2px solid rgb(199, 20, 68); */
}

.navLink:hover {
    opacity: .7;
    cursor: pointer;
}
