.projectContainer {
    width: 9em;
    padding: 1.1em .8em;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(7, 7, 7), rgb(15, 15, 15));
    cursor: pointer;
    /* border:2px solid purple; */
}

.active {
    width: auto;
    padding: 1em;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
}

.projectContainer:hover {
    background-image: linear-gradient(to top left, rgb(5, 5, 5), rgb(15, 15, 15));
}

.top, .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border:2px solid rgb(0, 128, 49); */
}

.projectTitle {
    font-family: var(--font-title);
    text-align: center;
    /* border:2px solid rgb(151, 118, 0); */
}

.githubBtn {
    width: 8%;
    min-width: 40px;
    margin-left: .8em;
    /* border:2px solid rgb(0, 128, 49); */
}

.description {
    width: 66.666%;
    text-align: left;
    /* border:2px solid rgb(0, 128, 49); */
}

.stack {
    width: 66.666%;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    /* border:2px solid rgb(0, 128, 122); */
}

/* La weigth de la font n'existe pas en bold et le navigateur l'a modélise trop épaisse.
 * ::after prend le contenu textuel de .techno (présent dans l'attribut 
 * data-text introduit dans Project.tsx) et épaissit légérement la police. */
.techno {
    --techno-vertical-padding: .2em;
    --techno-horiz-padding: .8em;
    border-radius: 20px;
    padding: var(--techno-vertical-padding) var(--techno-horiz-padding);
    white-space: nowrap;
    position: relative;
    /* border:2px solid rgb(70, 128, 0); */
}

.techno::after {
    content: attr(data-text);
    color: #000;
    position: absolute;
    top: var(--techno-vertical-padding);
    left: var(--techno-horiz-padding);
    filter: blur(0);
}

.toProjectBtn {
    margin-left: .8em;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border:2px solid rgb(170, 0, 255); */
}

.projectLink {
    display: flex;
    justify-content: flex-end;
    /* border:2px solid red; */
}

.toProject {
    position: relative;
}

.toProject::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #B85C38;
    transition: width .2s ease-in-out;
}

.toProject:hover::after {
    width: 100%;
}

.externalLinkImg {
    display: inline-block;
    width: 12%;
    min-width: 20px;
    margin-left: 5%;
    /* border:2px solid blue; */
}

@media screen and (max-width: 1000px) {
    .projectContainer {
        height: 5.5em;
    }
    .active {
        height: auto;
    }
    .description {
        width: 100%;
        text-align: center;
    }
    .bottom {
        flex-direction: column;
        gap: 1em;
    }
    .stack {
        justify-content: center;
        width: 100%;
    }
    .toProjectBtn {
        margin-left: 0;
        align-self: auto;
        justify-content: center;
    }
    .projectLink {
        justify-content: center;
    }
}