.skillcard {
    --techno-vertical-padding: .2em;
    --techno-horiz-padding: .8em;
    padding: var(--techno-vertical-padding) var(--techno-horiz-padding);
    border-radius: 1em;
    white-space: nowrap;
    color: black;
    position: relative;
    /* border:2px solid rgb(70, 128, 0); */
}

.skillcard::after {
    content: attr(data-text);
    color: #000;
    position: absolute;
    top: var(--techno-vertical-padding);
    left: var(--techno-horiz-padding);
    filter: blur(0);
}