/* .move{
    display: inline-block;
    transition: height 0.5s, transform 0.5s;
    animation: moveAndEnlarge 2s 2s forwards;
}

@keyframes moveAndEnlarge {
    0% {
      transform: translateY(0) scale(1);
    }
    100% {
      transform: translateY(-20px) scale(1.2);
    }
  } */